:root {
  --p-color:#00448C;
  --p-color-light:#0849A2;
}
body,html{
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  margin: 0;
  padding: 0;
  font-family: "vazir", "quicksand";
}
#__next,main{
  width: 100%;
  height: 100%;
}